#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
  border: 1px solid red;
}

.actions{
  display: flex;
  justify-content: flex-end;
  padding: 0;
  gap: 12px;
}

.intro{
  display: flex;
  flex-direction: row;
}

.subIntro{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-basis: 25%;
  font-family: 'Baloo 2';
  border: 1px solid red;
}

.items{
  flex-basis: 25%;
  border: 1px solid blue;
}

.coffe{
  flex-basis: 50%;
  border: 1px solid green;
}

.coffeList{

  border: 1px solid black;
}

.subCoffeList{
  display: flex;
  flex: row;
  padding: 0 2%;

  font-family: 'Baloo 2';
  font-weight: 800;
  font-size: 1rem;
  justify-content: space-between;
  align-items: center;
  border: 1px solid red;
}

.filters{
  display: flex;
  gap: 5px;
}

.list{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column;
  max-height: 100vh;
  border: 1px solid blue;
}
.coffeCards{
  display: flex;
  flex-wrap: wrap;
  max-width: 90%;
}

.cardsList{
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  list-style-type: none;
  margin: 0.5rem;
  width: 16rem;
  height: 25rem;
  border-radius: 6px 36px;
  background: var(--base-card);
  border: 1px solid yellowgreen;
}

.buyDiv{
  display: flex;
  flex-direction: column;
}

.coffeImg{
  position: relative;
  top: -25px;
  left: calc(50% - 120px/2);
  width: 7.5rem;
  height: 7.5rem;
}

.footerActionBuy{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1.5rem;
  align-items: center;
  font-family: 'Baloo 2';
  font-size: 1.2rem;
}

.actionBuy{
  display: flex;
  flex-direction: row;
  width: 7rem;
  justify-content: space-between;
  gap: 0.5rem;
}

.actionBuy button{
  width: 38px;
  height: 38px;
}

.countAmount{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  gap: 1rem;
  width: 4.5rem;
  border-radius: 6px;
  background: var(--base-button);
  color: var(--purple-300);
}